<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datum notes home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/Datum_home.css')}}">
    <script defer src="{{url_for('static', filename='js/Datum_home.js')}}"></script>
</head>

<body>
    <div class="searchDiv">
        <form>
            <input type="text" placeholder="Search by note title">
            <span class="cancelDiv">
               <strong><b>&times;</b></strong>
            </span>
        </form>
    </div>
    <!-- Two divs in one wrapper div -->
    <div class="AllWrapper">


        <!-- The left side div -->
        <div class="leftDiv">

            <!-- options div -->

            <!-- options div -->

            <div class="TitleNotes">
                <!-- The notes heading part -->
                <div class="NotNote">
                    <div class="settings tooltip">
                        <img src="{{url_for('static', filename='img/list_menu.png')}}" class="userIcon">
                        {% if current_user.is_authenticated %}
                        {% else %}
                        <span class="tooltiptext">Log in to view your notes...or sign up</span>
                        <span class="tooltiptext2">Log in to view your notes...or sign up</span>
                        {% endif %}

                    </div>

                    {% if current_user.is_authenticated %}
                    <div class="settings">
                        <span> User - {{ current_user.username }}</span>
                    </div>
                    {% endif %}

                    <div class="Heading">
                        DATUM
                    </div>
                </div>
                <!-- the notes title and half content -->
                <div class="arrangeCont">

                    {% if current_user.is_authenticated %}
                    <!-- search button -->
                    <div class="searchBtnDiv">
                        <button class="searchBtn" id="searchBtn1"><img src="{{url_for('static', filename='img/search_icon.png')}}"></button>
                    </div>
                    <!-- search button -->
                    {% endif %}

                    <div class="Options">
                        {% if current_user.is_authenticated %}
                        <a href="{{ url_for('logout') }}" class="NotesLink">
                            <div class="NotesLinkDiv">
                                Log out
                            </div>
                        </a>
                        {% else %}
                        <a href="{{ url_for('register') }}" class="NotesLink">
                            <div class="NotesLinkDiv">
                                Sign up
                            </div>
                        </a><a href="{{ url_for('login') }}" class="NotesLink">
                            <div class="NotesLinkDiv">
                                Login
                            </div>
                        </a>

                        {% endif %}
                    </div>
                    <div class="savedNotes">

                        {% for note in notes %}
                        <div class="HalfContent">
                            <span class="optBtn">&ctdot;</span>
                            <div class="deleteEdit">
                                <a href="{{ url_for('delete', id=note.id) }}" class="edit"><img class="delete"
                                        src="{{url_for('static', filename='img/trash_bin_icon.png')}}"></a>
                            </div>
                            {% if current_user %}
                            <a class="padIt" href=" /note/{{ note.id }}/edit ">
                                <h3>{{ note.title }}</h3>
                                <h6>{{ note.content }}</h6>
                            </a>
                            {% endif %}
                        </div>
                        {% endfor %}



                        <!-- <div class="HalfContent">
                            <span class="optBtn">&ctdot;</span>
                            <div class="deleteEdit">
                                <a href="" class="edit"><img class="delete" src="{{url_for('static', filename='img/trash_bin_icon.png')}}"></a>
                            </div>
                            <a class="padIt" href="">
                                <h3>Entry 2</h3>
                                <h6>The very first Entry of the datum build</h6>
                            </a>
                        </div> -->



                    </div>
                </div>
            </div>
        </div>
        <!-- Left side div ends -->


        <!-- The right side div -->
        <div class="NoteShower">

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="flash" style="text-align: center; color: rgb(0, 0, 0);">
                <b>{{message}}</b>
            </div>
            {% endfor %}
            {% endif %}
            {% endwith %}

            <div class="add">
                Add new note
            </div>
            <form action="/note/new" method="post">
                <div class="noteDiv">
                    <!-- <div class="fileChoose">
                        <input type="file" name="userEntryImg" id="userEntryImg">
                    </div> -->

                    <!-- <div class="NoteStyles">
                        <img src="{{url_for('static', filename='img/gallery_icon.png')}}" class="delete" id="gallery_icon">
                    </div> -->
                    <input type="text" class="title" placeholder="Enter title here" name="userEntryTitle">

                    <textarea class="text" placeholder="What's on your mind" name="userEntryContent"></textarea>

                </div>
                <div class="checkMark">
                    <button class="check" type="submit">
                        &check;
                    </button>
                </div>
            </form>
        </div>
        <!-- Right side div ends -->
    </div>
</body>

</html>